<Section id="gallery">
    <h3>Thư Viện Ảnh</h3>
    <div class="gallery-container">
    <img src="https://img.tripi.vn/cdn-cgi/image/width=700,height=700/https://gcs.tripi.vn/public-tripi/tripi-feed/img/478890mom/anh-mo-ta.png" alt="Ảnh 1">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkRk47ovfa81Z4h06drtPN7GsH7JZCjQMhmA&s" alt="Ảnh 2">
        <img src="https://baodanang.vn/dataimages/201908/original/images1523386_Son_Tra_3B.jpg" alt="Ảnh 3">
        <img src="https://toplist.vn/images/800px/truong-thcs-le-do-654562.jpg" alt="Ảnh 4">
    </div>
</Section>