<header class="header">
    <img src="https://i.imgur.com/0yKxFQj.png" alt="Logo Trường Lê Độ" class="logo">
    <h1>Trường Lê Độ</h1>
    <nav>
        <ul class="menu">
            <li><a href="#home">Trang chủ</a></li>
            <li><a href="#intro">Giới thiệu</a></li>
            <li><a href="#program">Chương trình học</a></li>
            <li><a href="#activities">Hoạt động</a></li>
            <li><a href="#gallery">Thư viện ảnh</a></li>
            <li><a href="#news">Tin tức</a></li>
            <li><a href="#admission">Tuyển sinh</a></li>
            <li><a href="#contact">Liên hệ</a></li>
        </ul>
    </nav>
</header>
